{% load static %}

<section 
    class="grid place-items-center bg-gray-800 text-white text-center relative z-10 overflow-hidden"
    style="background-image: url('{% static 'images/img.1.5.jpg' %}'); background-size: 350px 350px; background-repeat: repeat; animation: move-bg 60s linear infinite;">
    
    <!-- Lighter overlay for clarity -->
    <div class="absolute inset-0 bg-gray-900 bg-opacity-20"></div>

   <div class="relative z-20 py-32 px-6 max-w-3xl">
        <h1 class="text-5xl font-extrabold mb-4 drop-shadow-lg font1 bg-gradient-to-r from-indigo-600 via-purple-600 to-pink-600 px-4 py-2 rounded-xl inline-block">
            Your Vote, Your Power
        </h1>
        <p class="text-lg mb-6 text-gray-200 font-extrabold drop-shadow-lg bg-black bg-opacity-50 px-4 py-2 rounded-xl inline-block">
            Participate in secure, blockchain-backed elections. Transparent, reliable, and tamper-proof.
        </p>

        {% if not request.user.is_authenticated %}
            <a href="{% url 'a_userauthapp:account-create' %}" class="bg-indigo-600 hover:bg-indigo-700 text-white font-semibold px-8 py-3 rounded-xl transition mr-5 mb-5">
                Get Started
            </a>
        {% endif %}

        <a href="{% url 'b_voteapp:blockchain_explorer' %}" class="bg-indigo-600 hover:bg-indigo-700 text-white font-semibold px-8 py-3 rounded-xl transition mb-5">
                Blockchain Explorer
        </a>

    </div>

</section>






