{% extends 'layouts/profile_layout.html' %}


{% block content %}

    <section>

        <div class="card flex flex-col items-center justify-center p-6 bg-white shadow-lg rounded-lg space-y-4">
            <div class="text-center my-8">
                <h1 class="text-4xl font-extrabold text-blue-900 tracking-wide">
                    VoteChain - Blockchain Integrated Voting Platform
                </h1>
                <h2 class="text-2xl font-semibold text-gray-700 mt-2">
                    Admin Portal
                </h2>
                <div class="w-20 h-1 bg-blue-500 mx-auto mt-3 rounded-full"></div>
            </div>
            
        
            <!-- Button Container -->
            <div class="flex flex-wrap justify-center gap-4 mt-6">
                <!-- Create Appointment -->
                <div class="relative">
                    <a href="{% url 'create_election' %}"
                    class="inline-flex items-center gap-2 bg-blue-600 hover:bg-blue-700 text-white font-medium text-sm md:text-base px-5 py-2.5 rounded-xl shadow transition duration-200">
                        <i class="fas fa-calendar-plus"></i> Create Election
                    </a>
                </div>

                <a href="{% url 'create_candidate' %}" class="flex items-center gap-2 h-12 px-5 bg-yellow-600 hover:bg-yellow-700 text-white text-base font-semibold rounded-xl shadow transition duration-200">
                    <i class="fas fa-users"></i> Add Candidates
                </a>
            
            </div>
            
            
        
            <div class="col-md-8 text-center">
                <p class="text-lg text-gray-600 font-bold mb-5">Simplify your Election Process for Better Efficiency</p>
            </div>
        </div>
        
    </div>

        
    </section>


{% endblock %}